@use '../../global' as *;

/**
 * p-works-profile
 */

.p-works-project {
}

.p-works-project__inner {
  overflow: hidden;
  padding-bottom: 144px;
}

.p-works-project__list {
  flex-direction: column;
  margin-top: 55px;
  @include flex;
}

.p-works-project__item {
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: calc($main-z-index + 1);
    width: 100%;
    height: 1px;
    content: '';
    background-color: $main-color-100;
  }
}

.p-works-project__item + .p-works-project__item {
  margin-top: 55px;
}

.p-works-project__link {
  position: relative;
  display: grid;
  grid-template-areas:
    'category category category category category'
    'arrow--left title title title arrow--right';
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-auto-flow: row;
  gap: 13px 0;
  padding-bottom: 21px;
  transition: padding $transition;

  @include hover(true) {
    padding-left: fluid(34, 89);

    .p-works-project__arrow--left {
      opacity: 1;
    }

    .p-works-project__arrow--left::after {
      transform: translate(0, -50%);
    }

    .p-works-project__arrow--right::after {
      transform: translate(8rem, -50%);
    }
  }
}

.p-works-project__title {
  position: relative;
  z-index: calc($main-z-index + 1);
  grid-area: title;
  font-family: $font-en-primary;
  font-size: fluid(40, 80);
  line-height: 1;
  letter-spacing: 0.04em;
}

.p-works-project__category {
  position: relative;
  z-index: calc($main-z-index + 1);
  grid-area: category;
  order: -1;
  padding-bottom: 13px;
  font-family: $font-en-primary;
  font-size: fluid(12, 14);
  line-height: 1;
  letter-spacing: 0.04em;
}

.p-works-project__thumbnail {
  position: absolute;
  top: -35%;
  right: 8%;
  z-index: calc($main-z-index - 1);
  width: fluid(144, 377);
  height: fluid(89, 233);
  opacity: 0;
  transition: opacity $transition;

  > img {
    position: relative;
    z-index: calc($main-z-index - 10);
    width: 100%;
    height: 100%;
    transition: opacity $transition;
    object-fit: cover;
  }
}

%p-works-project__arrow {
  position: relative;
  display: inline-block;
  width: fluid(26, 55);
  height: fluid(26, 55);
  overflow: hidden;

  &::after {
    position: absolute;
    top: 50%;
    display: inline-block;
    overflow: hidden; // アニメーションのちらつき防止
    font-family: $font-en-primary;
    font-size: fluid(40, 80);
    line-height: 1;
    letter-spacing: 0.04em;
    content: '→';
    transition: left $transition, right $transition, transform $transition;
    transform: translateY(-50%);
    backface-visibility: hidden; // アニメーションのちらつき防止
  }
}

.p-works-project__arrow--left {
  @extend %p-works-project__arrow;

  position: absolute;
  left: -4rem;
  grid-area: arrow--left;
  opacity: 0;
  transition: opacity $transition;
}

.p-works-project__arrow--right {
  @extend %p-works-project__arrow;

  right: 0;
  grid-area: arrow--right;
}
