@use '../../global' as *;

/**
 * p-works-profile
 */

.p-works-project {
}

.p-works-project__inner {
  padding-bottom: 144px;
  overflow: hidden;
}

.p-works-project__list {
  flex-direction: column;
  margin-top: fluid(34, 55);
  @include flex;
}

.p-works-project__item {
  position: relative;
  transition: color $transition;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: $main-color-300;
    transition: background-color $transition;
  }

  @include hover(true) {
    color: $main-color-200;

    &::after {
      background-color: $main-color-200;
    }
  }
}

.p-works-project__item + .p-works-project__item {
  margin-top: fluid(34, 55);
}

.p-works-project__link {
  position: relative;
  @include flex;

  flex-direction: column;
  padding-bottom: fluid(8, 21);

  @include hover(true) {
    .p-works-project__arrow::before {
      opacity: 0;
      transition: transform $transition, opacity $transition;
      transform: translateX(150%);
    }

    .p-works-project__arrow::after {
      opacity: 1;
      transition: transform $transition, opacity $transition;
      transform: translateX(0);
    }
  }
}

.p-works-project__title {
  position: relative;
  z-index: calc($main-z-index + 1);
  font-family: $font-en-primary;
  font-size: fluid(40, 80);
  line-height: 1;
  letter-spacing: 0.04em;
}

.p-works-project__category {
  position: relative;
  z-index: calc($main-z-index + 1);
  order: -1;
  padding-bottom: fluid(8, 13);
  font-family: $font-en-primary;
  font-size: fluid(12, 14);
  line-height: 1;
  letter-spacing: 0.04em;
}

.p-works-project__thumbnail {
  position: absolute;
  top: -35%;
  right: 8%;
  z-index: calc($main-z-index - 1);
  width: fluid(144, 377);
  height: fluid(89, 233);
  opacity: 0;
  transition: opacity $transition;

  > img {
    position: relative;
    z-index: calc($main-z-index - 10);
    width: 100%;
    height: 100%;
    transition: opacity $transition;
    object-fit: cover;
  }
}

.p-works-project__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: fluid(34, 55);
  height: fluid(34, 55);
  overflow: hidden;
  transform: translateY(-50%);

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: $font-en-primary;
    font-size: fluid(34, 89);
    line-height: 0.5;
    color: currentcolor;
    text-align: right;
    content: '→';
    @include mq(mobile) {
      line-height: 0.75;
    }
  }

  &::before {
    opacity: 1;
    transition: transform $transition, opacity $transition;
    transform: translateX(0);
  }

  &::after {
    opacity: 0;
    transition: transform $transition, opacity $transition;
    transform: translateX(-150%);
  }
}
