@use '../global' as *;

/**
 * l-footer
 */

.l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $header-z-index;
  width: 100%;
  backdrop-filter: blur(10px); // 背景のぼかし
}

.l-footer__inner {
  width: min(100% - 5vw, 90vw);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-inline: auto;
  border-top: 1px solid $base-color-200;

  @include flex(space-between, center);
}

.l-footer__time {
  font-family: $font-en-primary;
  font-size: rem(12);
  letter-spacing: 0.1em;
}

.l-footer__copyright {
  font-family: $font-en-primary;
  font-size: rem(12);
  letter-spacing: 0.1em;
}
