@use '../global' as *;

/**
 * l-main
 */

.l-main {
  padding-top: 55px;

  // section-titleのカウンターの値をリセット
  counter-reset: section-title;

  @include mq(mobile) {
    padding-top: 89px;
  }
}

.l-main__inner {
  min-width: 85vw;
  padding-inline: 7.5vw;
  margin-inline: auto;
}
