// base color
$base-color-500: #f0f0f0;
$base-color-400: #e0e0e0;
$base-color-300: #d0d0d0;
$base-color-200: #c0c0c0;
$base-color-100: #b0b0b0;

// main color
$main-color-500: #07000c;
$main-color-400: #201a24;
$main-color-300: #514d55;
$main-color-200: #838086;
$main-color-100: #b5b3b6;

// accent color - primary
$accent-color-primary: #d2fc00;
$accent-color-primary-light: #edfe99;
$accent-color-primary-dark: #93b000;

// accent color - secondary
$accent-color-secondary: #7900db;
$accent-color-secondary-light: #a14de6;
$accent-color-secondary-dark: #490083;
